/* 적용 우선순위 */
/* !important(많으면 안 좋음. 안 쓰는 게 좋음) */
/* 인라인 스타일(웬만하면 안 씀) */
/* ID스타일 */
/* 클래스 스타일(주로 사용함) */
/* 타입 스타일(주로 사용함) */

h1 {
  color: brown;
}

#id-h1 {
  color: aqua;
}

h1 {
  color: blue;
}

.class-h1 {
  color: red;
}