* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.title {
  background-color: black;
  padding: 1px 10px 1px;
  width: 600px;
  margin: auto;  
  
}
h1 {
  color: white;
}
p {
  color: orange;
}

.check {
  background-color: black;
  color: white;
  margin: auto;  
  margin-top: 10px;
  width: 600px;
  padding: 10px;
}

.main {
  margin: auto;  
  border: 1px solid gray;
  width: 600px;
  padding: 0px 0px 30px; 
  text-align: center;
  }

h2 {
  color: red;
}
.blue { 
  color: blue;
}

.callmumber {
  margin: auto;  
  border: 1px solid gray;
  width: 600px;
  padding: 0px 0px 30px;
  text-align: center;
}


/* 근데 이런 건 보통 웹디가 이미지 만들어 줌 */